---
type Props = {
  title: string;
};

const { title } = Astro.props;

const url = "https://www.visionsalcedense.com/";
const description =
  "Visión Salcedense es un Movimiento Político que sostiene que la democracia es el mejor sistema de gobierno, que con sus principios permite el desarrollo de una sociedad pluralista y tolerante.";
---

<title>{title}</title>

<link rel="canonical" href={url} />
<meta name="description" content={description} />
<meta name="keywords" content="movimiento, político, visión, salcedense" />

<meta property="og:url" content={url} />
<meta property="og:title" content={title} />
<meta property="og:type" content="website" />
<meta property="og:image" content="/favicon.svg" />
<meta property="og:description" content={description} />
<meta property="og:site_name" content="Visión Salcedense" />

<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta name="twitter:card" content="summary_large_image" />
